@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@import 'tailwindcss/preflight';
/* @tailwind components; */
@tailwind utilities;

@theme {
  --maximum-width: 1920px;
  --color-bodyDark: #0b1423;
  /* --color-bodyDark: #07193c; */
  --color-bodyLight: #f5f5ef;
}
body {
  @apply max-w-[1920px];
  @apply mx-auto;
}

h1 {
  @apply text-7xl;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
h2 {
  @apply text-6xl;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
h3 {
  @apply text-5xl;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
h4 {
  @apply text-4xl;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
h5 {
  @apply text-2xl;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
h6 {
  @apply text-xl;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
